.azulOne{
    background-color: #2193b0;
}
.morado{
    background-color: #8e34ab;
}
.usuarios{
    background-color: #2ead95;
}
.disabled{
    pointer-events:none;
    opacity:0.7;
}

.canva{
    max-width: 100%;
    height: 400px;
}
.tablas{
    background-color: #2193b0;
}
.menu{
    text-decoration: none;
    color:#fff;
}
.menu:hover{
    text-decoration: none;
    color:#fff;
}
.titulos{
    color:#39a8bb;
}
.modal {
  overflow-y:auto;
}
.chiquito{
    font-size: x-small;
}
#chiquito{
    font-size: x-small;
}
.chiquito1{
    font-size: small;
}
.letrablanca{
	color:#ffffff;	
}
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #fc7323;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Grow */
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}
.animation{
    color:#9880ff;
}
