<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>login</servlet-name>
        <servlet-class>co.edu.sena.bienestar.sergio.controller.login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Routes</servlet-name>
        <servlet-class>co.edu.sena.bienestar.sergio.controller.Routes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>activitys</servlet-name>
        <servlet-class>co.edu.sena.bienestar.sergio.controller.activitys</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>aprendiz</servlet-name>
        <servlet-class>co.edu.sena.bienestar.sergio.controller.aprendiz</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Select</servlet-name>
        <servlet-class>co.edu.sena.bienestar.sergio.controller.Select</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadFile</servlet-name>
        <servlet-class>co.edu.sena.bienestar.sergio.controller.UploadFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SelectQuerys</servlet-name>
        <servlet-class>co.edu.sena.bienestar.sergio.controller.SelectQuerys</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Responsable</servlet-name>
        <servlet-class>co.edu.sena.bienestar.sergio.controller.Responsable</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Routes</servlet-name>
        <url-pattern>/Start</url-pattern>
        <url-pattern>/Logout</url-pattern>
        <url-pattern>/Home</url-pattern>
        <url-pattern>/Upload</url-pattern>
        <url-pattern>/Activitys</url-pattern>
        <url-pattern>/Aprendices</url-pattern>
        <url-pattern>/Statistics</url-pattern>
        <url-pattern>/Responsables</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>activitys</servlet-name>
        <url-pattern>/ListActivitysSearch</url-pattern>
        <url-pattern>/ListActivitysByAprendiz</url-pattern>
        <url-pattern>/ListStaticsBytype</url-pattern>
        <url-pattern>/ListStaticsBytypeFicha</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>aprendiz</servlet-name>
        <url-pattern>/ListAprendices</url-pattern>
        <url-pattern>/getByCoor</url-pattern>
        <url-pattern>/getTypesActivitys</url-pattern>
        <url-pattern>/ListActivitysByType</url-pattern>
        <url-pattern>/ListAprendicesByFicha</url-pattern>
        <url-pattern>/ListAprendicesByCoor</url-pattern>
        <url-pattern>/getSearchAprendiz</url-pattern>
        <url-pattern>/getSearchAprendizWord</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Select</servlet-name>
        <url-pattern>/getFichas</url-pattern>
        <url-pattern>/getCoor</url-pattern>
        <url-pattern>/getYears</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadFile</servlet-name>
        <url-pattern>/Uploading</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SelectQuerys</servlet-name>
        <url-pattern>/SelectYears</url-pattern>
        <url-pattern>/SelectByTypesbyYear</url-pattern>
        <url-pattern>/SelectStatiticsByActivity</url-pattern>
        <url-pattern>/SelectgetProgramsWithOutCoor</url-pattern>
        <url-pattern>/UpdateProgram</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Responsable</servlet-name>
        <url-pattern>/SelectResponsables</url-pattern>
        <url-pattern>/addResponsables</url-pattern>
        <url-pattern>/delResponsables</url-pattern>
        <url-pattern>/editResponsables</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
